<label>Search: <input ng-model="searchText"><br/><br/></label>

<label>

<ul>
    <li><a href="#!/showall">Show All</a></li>
    <li><a href="#!/edible">Edible Shrooms</a></li>
    <li><a href="#!/nonedible">Non-Edible Shrooms</a></li>
</ul>

<!--<form name="myForm" ng-controller="ShroomCtrl">-->

        <!--<input type="radio"  ng-change="mushrooms.edible" ng-model="mushrooms.edible" ng-value="Non-poisonous">-->
        <!--Non-poisonous-->
    <!--</label><br/>-->
    <!--<label>-->
        <!--<input type="radio" ng-change="!mushrooms.edible" ng-model="mushrooms.edible" ng-value="Poisonous">-->
        <!--Poisonous-->
    <!--</label><br/>-->